{% extends 'bootstrap.html' %}{% load staticfiles %}{% load bootstrap3 %}
{% load cache %}{% load landing_utils %}{% load favicon %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}" type="text/css" charset="utf-8">
<meta name="keywords" content="{{ extra.keywords|join:', ' }}">
<meta name="description" content="{{ extra.schema.description }}">
<meta name="author" content="Ryan Kaiser">
<meta name="copyright" content="{{ extra.schema.name }}">
<meta name="robots" content="all">
<meta name="apple-mobile-web-app-title" content="{{ extra.schema.alternateName }}">
<meta name="application-name" content="{{ extra.schema.alternateName }}">
<meta name="google-site-verification" content="aNcBkJyU-QbMhrf4qytgXNxjMZ3nkEzM6TdXGTTnRbY">
<meta name="msvalidate.01" content="4A9ECC2E495C85CC9CC904F51D67E03A">
<meta property="og:description" content="{{ extra.schema.description }}">
<meta name="theme-color" content="#cccccc">
<link rel="manifest" href="{% url 'chrome_manifest' %}">
<link rel="canonical" href="{% block canonical %}{{ extra.schema.url }}{{ request.path }}{% endblock canonical %}" itemprop="url">
{% get_favicons "img/favicon/" %}
{% block page_extra_head %}{% endblock page_extra_head %}
<script type="application/ld+json">{% dict_to_json extra.schema %}</script>
{% endblock bootstrap3_extra_head %}

{% block bootstrap3_content %}
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N4BNCJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<script>{% inline_static_file 'js/tag-manager.js' 'js' %}</script>

<nav class="navbar navbar-inverse navbar-fixed-top">
  {% block navigation %}
    {% include 'parts/navigation.html' %}
  {% endblock navigation %}
</nav>

<header>
{% block base_header %}
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>{% block page_title %}{{ request.resolver_match.url_name|title }}{% endblock page_title %}</h2>
      <hr class="star-primary">
    </div>
  </div>
{% endblock base_header %}
{% block header %}{% endblock header %}
</header>

<main id="content" class="group" role="main">
  {% block content %}{% endblock content %}
</main>

<footer class="footer footer-inverse">
  {% block footer %}
    {% include 'parts/footer.html' %}
  {% endblock footer %}
</footer>

{% include 'parts/scroll-top.html' %}

{% endblock bootstrap3_content %}

{% block bootstrap3_extra_script %}
  {% block page_extra_script %}{% endblock page_extra_script %}
<script async>
  $(function() {
    $(document).scroll(function() {
      if ($(window).scrollTop() > 100)
        $('.scroll-top-wrapper').addClass('show');
      else
        $('.scroll-top-wrapper').removeClass('show');
    });
    $('.scroll-top-wrapper').click(scrollToTop);
  });
  function scrollToTop() {
    verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
    element = $('body');
    offset = element.offset();
    offsetTop = offset.top;
    $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
  }
</script>

<script async>
  $(document).ready(function() {
    if ((/Mobile/i.test(navigator.appVersion) ||
         /Mobile/i.test(navigator.userAgent)) &&
       ! /IPad/i.test(navigator.userAgent))
      $('#directions-link').attr('href', function() {
        return /saddr/i.test(this) ? this : this + '&saddr=My%20location';
      });
  });
</script>

<script async>
  $(document).ready(function() {
    $(window.location.hash + '-dd-link').parent().addClass('active');
    $('.service-link').parent('.service-item').click(function() {
      $('#navbar').collapse('hide');
      $('.service-item.active').removeClass('active');
      $(this).addClass('active');
      window.location = $(this).find('a.service-link').attr('href');
    });
  });
</script>
{% endblock bootstrap3_extra_script %}
