{% extends 'base.html' %}
{% load staticfiles bootstrap3 cache landing_utils favicon %}
{% block bootstrap3_extra_head %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}" type="text/css" charset="utf-8">
<meta name="keywords" content="{{ site.keywords.all|join:', ' }}">
<meta name="description" content="{{ site.schema.description }}">
<meta name="author" content="Ryan Kaiser">
<meta name="copyright" content="{{ site.schema.name }}">
<meta name="robots" content="all">
<meta name="apple-mobile-web-app-title" content="{{ site.schema.alt_name }}">
<meta name="application-name" content="{{ site.schema.alt_name }}">
<meta name="google-site-verification" content="obUUNOlNII3lM4L7fM8r_teEVmgRiJcRHksdyQoBW1Q" />
<meta name="msvalidate.01" content="4A9ECC2E495C85CC9CC904F51D67E03A">
<meta property="og:description" content="{{ site.schema.description }}">
<meta name="theme-color" content="#cccccc">
<link rel="manifest" href="{% url 'chrome_manifest' %}">
<link rel="canonical" href="{% block canonical %}{{ site.schema.url }}{{ request.path }}{% endblock canonical %}" itemprop="url">
{% get_favicons extra.favicon_prefix %}{% block page_extra_head %}{% endblock page_extra_head %}
<script type="application/ld+json">{% include 'metadata/schema.json' %}</script>
{% endblock bootstrap3_extra_head %}

{% block bootstrap3_content %}
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N4BNCJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<script>{% inline_static_file 'js/tag-manager.js' 'js' %}</script>

<nav class="navbar navbar-inverse navbar-fixed-top">
  {% block navigation %}
    {% include 'parts/navigation.html' %}
  {% endblock navigation %}
</nav>

<header>
{% block base_header %}
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>{% block page_title %}{{ request.resolver_match.url_name|title }}{% endblock page_title %}</h2>
      <hr class="star-primary">
    </div>
  </div>
{% endblock base_header %}
{% block header %}{% endblock header %}
</header>

<main id="content" class="group" role="main">
  {% block content %}{% endblock content %}
</main>

<footer class="footer footer-inverse">
  {% block footer %}
    {% include 'parts/footer.html' %}
  {% endblock footer %}
</footer>

{% block scroll_top_wrapper %}
  {% include 'parts/scroll-top.html' %}
{% endblock scroll_top_wrapper %}

{% endblock bootstrap3_content %}

{% block bootstrap3_extra_script %}
  {% block page_extra_script %}{% endblock page_extra_script %}

<script>
  $(function() {
    $(document).scroll(function() {
      if ($(window).scrollTop() > 100)
        $('.scroll-top-wrapper').addClass('show');
      else $('.scroll-top-wrapper').removeClass('show');
    }); $('.scroll-top-wrapper').click(function () {
      verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
      element = $('body'); offset = element.offset(); offsetTop = offset.top;
      $('html, body').animate({scrollTop: offsetTop}, 50, 'linear');
    });
  });
</script>

<script>
  $(document).ready(function() {
    if ((/Mobile/i.test(navigator.appVersion) ||
         /Mobile/i.test(navigator.userAgent)) &&
       ! /IPad/i.test(navigator.userAgent))
      $('#directions-link').attr('href', function() {
        return /saddr/i.test(this) ? this : this + '&saddr=My%20location';
      });
  });
</script>

<script>
  $(document).ready(function() {
    $(window.location.hash + '-dd-link').parent().toggleClass('active');
    $('.service-link').parent('.service-item').click(function() {
      $('#navbar').collapse('hide');
      $('.service-item.active').removeClass('active');
      $(this).addClass('active');
      window.location = $(this).find('a.service-link').attr('href');
    });
  });
</script>

<script>
  $(document).ready(function() {
    function isSmall() {
      return $('a.navbar-brand.hidden-xs').css('display') == "none";
    }
    $('.dropdown').hover(function() {
      if (isSmall()) return;
      $('.dropdown-menu', this).stop(true, true).fadeIn('fast');
      $(this).toggleClass('open');
      $('i', this).toggleClass('fa-caret-down fa-caret-up');
    }, function() {
      if (isSmall()) return;
      $('.dropdown-menu', this).stop(true, true).fadeOut('fast');
      $(this).toggleClass('open');
      $('i', this).toggleClass('fa-caret-down fa-caret-up');
    });
  });
</script>
{% endblock bootstrap3_extra_script %}
