# .coveragerc to control coverage.py
[run]
branch = True
source = landing,contact,metadata,myip,headers,agcs

[report]
omit =
    *tests*
    *migrations*
    *admin.py
    *wsgi.py
    agcs/util.py
    agcs/settings/dev.py
    landing/mixins.py
    landing/management/*

exclude_lines =
    pragma: no cover
    noqa:
    def __repr__
    def __str__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if settings\.DEBUG
    if __name__ == .__main__.:
    __all__
    import
    deprecated_warning
    in_development_warning

ignore_errors = True

[html]
directory = coverage_html_report
