# .coveragerc to control coverage.py
[run]
branch = True
source = landing,contact,metadata,agcs
omit =
    gunicorn_conf.py
    runtests.py
    agcs/wsgi.py
    agcs/util.py
    agcs/views.py
    agcs/settings/dev.py
    contact/admin.py
    contact/migrations*
    landing/admin.py
    landing/mixins.py
    landing/sites.py
    landing/migrations*
    landing/management/*
    metadata/migrations*
    metadata/management/*
    metadata/admin.py
    tests/*
    community/*

[report]
exclude_lines =
    pragma: no cover
    noqa:
    def __repr__
    def __str__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if settings\.DEBUG
    if __name__ == .__main__.:
    __all__
    import
    deprecated_warning
    in_development_warning

ignore_errors = True

[html]
directory = coverage_html_report
