https://github.com/ryankaiser/python_agcs/archive/v3.0.2.tar.gz
anglerfish==1.0.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
css-html-js-minify==2.0.2
csscompressor==0.9.4
decorator==4.0.10
Django==1.9.6
django-appconf==1.0.2
django-assets==0.11
django-bootstrap3==7.0.1
django-compressor==2.1
django-factory==0.11
django-gunicorn-server==1.0
django-haystack==2.5.0
django-htmlmin==0.9.1
django-machina==0.3.0
django-markdown==0.8.4
django-minifiedstorage==0.3
django-mptt==0.8.5
django-pagedown==0.1.1
django-recaptcha2==0.1.7
django-static==1.5.5
django-super-favicon==0.6.0
django-widget-tweaks==1.4.1
docutils==0.12
extras==1.0.0
fabric-webbuilders==0.3
fixtures==3.0.0
gitdb==0.6.4
GitPython==2.0.6
gunicorn==19.6.0
html5lib==0.9999999
ipython==4.2.0
ipython-genutils==0.1.0
linecache2==1.0.0
Markdown==2.6.6
pbr==1.10.0
pexpect==4.1.0
pickleshare==0.7.2
Pillow==3.3.0
ply==3.8
psycopg2==2.6.1
ptyprocess==0.5.1
py==1.4.31
pytest==3.0.0
python-mimeparse==1.5.2
python3-memcached==1.51
pytz==2016.6.1
rcssmin==1.0.6
recaptcha-client==1.0.6
requests==2.10.0
rjsmin==1.0.12
simplegeneric==0.8.1
six==1.10.0
slimit==0.8.1
smmap==0.9.0
testtools==2.2.0
traceback2==1.4.0
traitlets==4.2.1
unittest2==1.1.0
webassets==0.11
Whoosh==2.7.4
