footer hr {
  width: 0;
  margin: 10px 0;
}

div.social-buttons {
    padding-top: 5px;
}

.social-buttons a.btn {
    padding: 10px 0px;
}

.social-buttons a.btn:hover,
.social-buttons a.btn:focus,
.social-buttons a.btn.focus {
    color: #44596f;
}

.social-buttons a.company-number {
    padding: 10px 5px;
}

#company-address {
  margin: 0 0 .5em 0;
  color: white;
}

#copyright {
    padding: 5px 0 2.5px 0;
    margin-top: 10.5px;
}

#webhost {
  padding: 2.5px 0 1.25px 0;
  margin-top: 5px;
}

#framework {
  padding: 1.25px 0 5px 0;
  margin-top: 2px;
}

@media (min-width: 768px) {
  #company-address {
    margin-top: .5em;
  }
}

@media (min-width: 992px) {
  #webhost, #framework {
    display: inline;
  }

  #webhost::after {
    content: '. ';
    color: #3498db;
  }
}
