html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 385px;

}

body > .container,
body > header {
  padding: 20px 15px 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-color: transparent;
  height: 385px;
}

.footer-default {
    background-color: #149c82;
}

.footer-inverse {
    background-color: #2c3e50;
}

header {
    text-align: center;
}

header img {
    display: block;
    margin: 0 auto 0;
}

.navbar-brand {
    font-weight: bold;
}

hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
  border-color: #2c3e50;
}

hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
  background-color: white;
  color: #2c3e50;
}

.jumbotron hr.star-primary:after {
  background-color: #ecf0f1;
}

blockquote.definition {
    font-size: medium;
}

.color-grid {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.comany-addr {
  margin: 0 0 .5em 0;
  color: white;
}

footer address.company-addr {
  margin: 0.5em 0 0.5em 0;
  color: white;
}

.fa-caret-up, .fa-caret-down {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 768px) {
  header .jumbotron p {
    font-size: 18px;
  }
}

@media (min-width: 309px) {
    body {
      padding-bottom: 290px;
    }

    footer {
        height: 290px;
    }
}

@media (min-width: 992px) {
  body {
    padding-bottom: 80px;
  }

  footer {
    height: 80px;
  }
}
