.navbar-nav li.active a {
  font-weight: bold;
}

hr.separator {
  width: 6em; margin: 1em 0 0 0;
}

@media (min-width: 768px) {
  hr.separator {
    display: none;
  }
}

@media (max-width: 768px) {
  #whatwedo {
    font-size: large;
  }
}
