.table-of-contents {
    margin-top:1em;
}

.toc-title, .table-of-contents {
    text-align: left;
}

.service .list-group .bullet-item {
    padding: .5em;
    margin-left: 2em;
}

hr.service-tag {
  border: 1em solid transparent;
  margin: 0;
}

a.list-group-item:hover,
a.list-group-item:focus,
a.list-group-item,
a.list-group-item.last-clicked {
  color: #18bc9c;
  font-weight: bold;
}

a.list-group-item:hover,
a.list-group-item:focus,
a.list-group-item.last-clicked {
  background-color: rgb(44,62,80);
}

.panel-title {
    font-size: 20px;
    color: #ffffff;
    font-weight: bolder;
}
