{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE|default:'en-US' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ error_code }} &mdash; {{ error_text|title }} {% endblock title %}</title>
  <script>(function(a){var b=function(c,k,d){var l=a.document;var m=l.createElement("link");var e;if(k){e=k}else{var i=(l.body||l.getElementsByTagName("head")[0]).childNodes;e=i[i.length-1]}var f=l.styleSheets;m.rel="stylesheet";m.href=c;m.media="only x";function j(n){if(l.body){return n()}setTimeout(function(){j(n)})}j(function(){e.parentNode.insertBefore(m,(k?e:e.nextSibling))});var h=function(o){var n=m.href;var p=f.length;while(p--){if(f[p].href===n){return o()}}setTimeout(function(){h(o)})};function g(){if(m.addEventListener){m.removeEventListener("load",g)}m.media=d||"all"}if(m.addEventListener){m.addEventListener("load",g)}m.onloadcssdefined=h;h(g);return m};if(typeof exports!=="undefined"){exports.loadCSS=b}else{a.loadCSS=b}}(typeof global!=="undefined"?global:this));</script>
  <style>@import url("{% static 'css/vendor/bootswatch.min.css' %}");</style>
  <script>loadCSS("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");</script>
  <style>@import url({% static 'css/landing.css' %});</style>
  <link rel="manifest" href="{% url 'chrome_manifest' %}">
  <style>
    @media (min-width: 30px) {
      footer {
        height: 5em;
      }
      body {
        padding: .5em 0 5em 0;
      }
    }
    div.social-buttons {
      padding-top: 5px;
    }

    .social-buttons a.btn {
      padding: 10px 0px;
    }

    .social-buttons a.btn:hover,
    .social-buttons a.btn:focus,
    .social-buttons a.btn.focus {
      color: #44596f;
    }

    .social-buttons a.extra-number {
      padding: 10px 5px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>
          <span class="fa fa-border fa-2x">
            <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
            <i class="fa text-primary" aria-hidden="true">{{ error_code }}</i>
          </span>
        </h1>
      </div>
    </div>
  </div>
  <main id="content" class="group" role="main">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2><strong>{{ error_text }}</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <hr class="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="lead">Click <a href="/">here</a> to go to the home page.</p>

        </div>
      </div>
    </div>
  </main>

  <footer class="footer footer-inverse bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12 social-buttons text-center">
          <a class="btn" href="{{ links.facebook }}" target="_blank">
            {% include 'landing/fa/stack.html' with type='facebook' tip='Like us on Facebook' %}
          </a>
          <a class="btn" href="{{ links.google_plus }}" target="_blank">
            {% include 'landing/fa/stack.html' with type='google-plus' tip=site.schema.name|add:' on Google Plus' %}
          </a>
          <a class="btn" href="{{ links.yelp }}" target="_blank">
            {% include 'landing/fa/stack.html' with type='yelp' tip='Yelp! Read reviews or write a new one' %}
          </a>
          <a class="btn" href="{{ links.github }}" target="_blank">
            {% include 'landing/fa/stack.html' with type='github' tip='Public repositories on GitHub' %}
          </a>
          <a class="btn" href="{{ links.google_maps }}" target="_blank">
            {% include 'landing/fa/stack.html' with type='map-marker' tip='Get Directions' %}
          </a>
          <a class="btn" href="mailto:{{ site.schema.email }}" target="_blank">
            {% include 'landing/fa/stack.html' with type='envelope' tip='Email Us' %}
          </a>
        </div>
      </div>
    </div>
  </footer>
  <script>
  function goBack() {
      window.history.back();
  }
  </script>
</body>
</html>
