<style>@import url({{ STATIC_URL }}css/footer.css);</style>
<div class="container">
  <div class="row">
    <div class="col-md-4 social-buttons text-center">
      <a class="btn" href="{{ links.facebook }}" target="_blank">
        {% include 'landing/fa/stack.html' with type='facebook' tip='Like us on Facebook' %}
      </a>
      <a class="btn" href="{{ links.google_plus }}" target="_blank">
        {% include 'landing/fa/stack.html' with type='google-plus' tip=site.schema.name|add:' on Google Plus' %}
      </a>
      <a class="btn" href="{{ links.yelp }}" target="_blank">
        {% include 'landing/fa/stack.html' with type='yelp' tip='Yelp! Read reviews or write a new one' %}
      </a>
      <a class="btn" href="{{ links.github }}" target="_blank">
        {% include 'landing/fa/stack.html' with type='github' tip='Public repositories on GitHub' %}
      </a>
      <a class="btn" href="{{ links.google_maps }}" target="_blank">
        {% include 'landing/fa/stack.html' with type='map-marker' tip='Get Directions' %}
      </a>
      <a class="btn" href="mailto:{{ site.schema.email }}" target="_blank">
        {% include 'landing/fa/stack.html' with type='envelope' tip='Email Us' %}
      </a>
    </div>
    <hr class="visible-xs visible-sm">
    <div class="col-md-4 col-md-push-4 text-center">
      <address class="company-addr">
        <a href="tel:{{ site.schema.telephone|urlencode }}">
          <strong>{{ site.schema.telephone }}</strong>
        </a><br>
        {{ site.schema.address.street }}<br>{{ site.schema.address.locality }}&comma;
        {{ site.schema.address.state.abbreviation }}&nbsp;{{ site.schema.address.postal_code }}
      </address>
    </div>
    <hr class="visible-xs visible-sm">
    <div class="col-md-4 col-md-pull-4 text-center">
      <p id="copyright" class="text-muted">&copy;
        {{ site.schema.name }}
      </p>
      <p id="webhost" class="text-muted">
        <span class="text-info small">Hosted by
          <a href="https://m.do.co/c/9b25b239d056" target="_blank">DigitalOcean</a>
        </span>
      </p>
      <p id="framework" class="text-muted">
        <span class="text-info small">Powered by
          <a href="https://www.djangoproject.com" target="_blank">Django</a>
        </span>
      </p>
    </div>
  </div>
</div>
