{% load landing_utils %}
{% dict_to_json extra %}
{% inline_static_file 'js/scroll-top-wrapper.js' 'js' %}
{% inline_static_file somedir|default:'js/schema.json' 'css' %}
{% inline_static_file badpath|default:'js/schema.json' 'html' %}
{% inline_static_file 'js/scroll-top-wrapper.js' 'sh' %}
{% inline_static_file 'css/scroll-top-wrapper.css' 'css' %}
{% async_css '//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' %}
{% autofocus_form form %}
{% for field in form %}
    {% autofocus_field field %}
{% endfor %}
{{ "alert('hello')"|minify_js }}
{{ ".foo { color: red; }"|minify_css }}
{{ "<div class='foo'>  BAR</div>"|minify_html }}
{% with nums='1,2,3,4'|make_list %}
    {% for n in nums|listsort %}
        {{ n }}
    {% endfor %}
{% endwith %}
{% with nums='1,2,3,4'|make_list %}
    {% for n in nums|listsortreversed %}
        {{ n }}
    {% endfor %}
{% endwith %}
{{ 'foobar'|find:'foo' }}
{{ 'foo,bar'|split }}
