{% extends 'base_page.html' %}{% load cache %}
{% block content %}
<div class="container-fluid">
  <div class="NOT-page-header" id="banner">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4">
        <p class="lead"></p>
      </div> <!-- col-lg-8 col... -->
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-offset-3">
        <div class="sponsor">
        </div> <!-- sponsor -->
      </div> <!-- col-lg-4 col... -->
    </div> <!-- row -->
  </div> <!-- page-header -->
</div> <!-- container-fluid -->
<style>@import url({{ STATIC_URL }}css/services.css);</style>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3 hidden-xs hidden-sm" id="sidebar">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">What We do</h3>
        </div>
        <div class="list-group table-of-contents panel-body">
        {% for service in service_list %}
          <a class="list-group-item" href="#{{ service.anchor_id }}">{{ service.name }}</a>
        {% endfor %}
        </div> <!--list-group -->
      </div> <!-- panel -->
    </div> <!-- col-sm... -->
    <script type="application/ld+json">{% include 'metadata/services.json' %}</script>
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-1">
      {% for service in service_list %}
        <hr id="{{ service.anchor_id }}" class="service-tag">
        <div class="service-div">
          <div class="page-header">
            <h2 class="text-center text-primary"><strong>{{ service.name }}</strong></h2>
          </div>
          <div class="bs-component service well well-lg">
            {{ service.html|safe }}
          </div>
        </div>
        {% if forloop.counter0 == 0 %}
      </div> <!-- col-sm... -->
    </div> <!-- row -->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        {% endif %}
      {% endfor %}
    </div> <!-- col-sm... -->
  </div> <!-- row -->
</div> <!-- container -->
{% endblock content %}
{% block page_extra_script %}
<script async>
  $(document).ready(function() {
    var tis = $('.table-of-contents .list-group-item');
    $(document).scroll(function() {
      if (!$(window).scrollTop())
        $(tis).removeClass('last-clicked');
    });
    $(tis).click(function() {
      $(tis).removeClass('last-clicked');
      $(this).addClass('last-clicked');
    });
  });
</script>
{% endblock page_extra_script %}
