{% load landing_utils %}
<style>
  .navbar-nav li.active a {
      font-weight: bold;
  }

  hr.separator {
    width: 6em;
    margin: 1em 0 0 0;
  }

  @media (min-width: 768px) {
    hr.separator {
      display: none;
    }
  }

  @media (max-width: 768px) {
    #navbar > ul > li.dropdown.open > ul > li > a.text-primary {
      font-size: large;
    }
  }
</style>
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-xs" href="/">{{ company.long_name|title }}</a>
    <a class="navbar-brand visible-xs" href="/">{{ company.short_name }}</a>
  </div> <!-- navbar-header -->
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav nav-stacked navbar-right">
    {% for page in pages %}
      {% if page == 'services' %}
      <li class="dropdown{% if page == title %} active{% endif %}">
        <a id="dLabel" data-target="#" href="{% url 'services' %}"
            data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Services&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li>
            <a class="text-primary" href="{% url 'services' %}">What We Do
              <hr class="separator">
            </a>
          </li>
          <li role="separator" class="divider"></li>
        {% for service in services %}
          <li class="service-item">
            <a id="{{ service|mkattribute }}-dd-link"
               class="service-link"
               href="{% if page != title %}{% url 'services' %}{% endif %}#{{ service|mkattribute }}">
              {{ service }}
            </a>
          </li>
        {% endfor %}
        </ul>
      </li>
      {% else %}
      <li{% if page == title %} class="active"{% endif %}>
        <a href="{% url page %}">{{ page|title }}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div> <!-- #navbar -->
</div> <!-- container -->
