{% extends 'base_page.html' %}{% load bootstrap3 %}{% load recaptcha2 %}{% load cache %}
{% block page_title %}Contact Us{% endblock page_title %}
{% block page_extra_head %}{% recaptcha_init %}
<style>#GoogleMap {height: 480px;border: 2em solid white;}</style>
{% endblock page_extra_head %}
{% block content %}
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>Email us</h1>
        <p class="lead"></p>
      </div> <!-- col-lg-8 col... -->
      <div class="col-lg-4 col-md-5 col-sm-6">
        <div class="sponsor">
        </div> <!-- sponsor -->
      </div> <!-- col-lg-4 col... -->
    </div> <!-- row -->
  </div> <!-- page-header -->
  <div class="row">
    <div class='col-md-5'>
      {% if messages %}
        {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-success alert-dismissable alert-link">
        <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&#215;</button>
        {{ message }}
      </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <style>
        div.form-group > button.btn {margin-left: 1em;}
        textarea.form-control{max-width: 100%;}
      </style>
      <form id='contact_form' class="form-horizontal" role="form" action="" method="POST" novalidate>{% csrf_token %}
        {% bootstrap_form form show_label=False form_group_class='form-group row' field_class='col-md-12' %}
        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
      </form>
    </div>
    <div class="col-md-6 col-md-offset-1" id="GoogleMap">
    </div> <!-- #GoogleMap -->
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center"></h1>
    </div>
  </div> <!-- row -->
</div> <!-- container -->
{% endblock content %}
{% block page_extra_script %}
<script>
  function initMap() {
      var agcs = new google.maps.LatLng(33.023705,-96.772012);
      var infowindow = new google.maps.InfoWindow({
          content: '<div id="content">\
            <span style="font-size: 16px;">\
              <address>{{ site.schema.address.street }}<br>\
                {{ site.schema.address.locality|add:',' }}\
                {{ site.schema.address.state.abbreviation }}\
                {{ site.schema.address.postal_code }}<br>\
                <a href="tel:{{ site.schema.telephone|urlencode }}">\
                  {{ site.schema.telephone }}</a>\
              </address>\
              <a href="{{ links.google_maps }}" target="_blank">Get Directions\
              <i class="fa fa-external-link-square"></i>\
            </a></span></div>'
      });

      var map = new google.maps.Map(document.getElementById('GoogleMap'), {
          center: agcs,
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          mapTypeControl:false,
          streetViewControl:false
      });

      var marker = new google.maps.Marker({
          position:agcs,
          map: map,
          title: 'AGCS'
      });

      google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map, marker);
          map.setZoom(10);
          map.setCenter(marker.getPosition());
      });

      google.maps.event.addListener(map,'center_changed',function() {
          window.setTimeout(function() {
              map.panTo(marker.getPosition());
          },3000);
      });

      infowindow.open(map, marker);
  }
</script>
{% if debug %}
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyCEE3LMbP2_ZJsha-M1yMrsaVqAltAwnHE"></script>
{% else %}
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyALXHHKqqKIM-E8_zyhCoGk8psef7d9t0k"></script>
{% endif %}
{% endblock page_extra_script %}
